@{
    ViewData["Title"] = "FutPlay";
}

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold">FutPlay</h1>

    <p class="lead mt-3">
        Acompanhe campeonatos, jogos, palpites e rankings de futebol.
    </p>

    <a class="btn btn-success btn-lg mt-3" href="/Campeonatos">
        Ver Campeonatos
    </a>
</div>